<!DOCTYPE html>
<html lang="en">
  <head>
    <title>League of Cool Kickball Professionals</title>
  </head>

  <body>
    <h1>Team List</h1>
    <ul>
      <% @teams.each do |x| %>
        <a href="/<%= x%>"<li><%= x %></li></a><br>
      <% end %>
    </ul>

    <h1>Position List</h1>
    <ul>
      <% @positions.each do |y| %>
        <a href="/<%= y %>"<li><%= y %></li></a><br>
      <% end %>
    </ul>

  </body>
</html>
