<!DOCTYPE html>
<html lang="en">
  <head>
    <title>League of Cool Kickball Professionals</title>
  </head>

  <body>
    <h1>TEAM LIST</h1>

    <ul>
     <li><a href="/simpson_slammers">Simpson Slammers</a></li>
     <li><a href="/griffin_goats">Griffin Goats</a></li>
     <li><a href="/jetson_jets">Jetson Jets</a></li>
     <li><a href="/flinestone_fire">Flinestone Fire</a></li>
    </ul>
  </body>
</html>
