<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team Jetson Jets</title>
  </head>

  <body>
    <h1>Jetson Jets</h1>


    <ul>
      <h4>Player: Position</h4>
      <% @lackp.each do |key, value| %>
        <% if value[:team] == "Jetson Jets" %>
          <li> <%= value[:first_name] %> <%= value[:last_name] %>: <%= value[:position] %> </li>
        <% end %>
      <% end %>
      <li><a href="/">Back Home</a></li>
    </ul>
  </body>
</html>
