body {
    /* Use a "Matrix"-style color scheme. */
    background-image:url('kickball.jpg');
    background-size: 1600px 1200px;
    background-repeat: no-repeat;
    color: #c0392b;

    font-family: monospace;
    font-size: 1.5em;
}

h2 {
    margin-top: 150px;
    margin-left: 440px;
    font-family: monospace;
    font-size: 5.5em;
    color: #F0D2C2;
}

ul {
    margin-top: 0px;
    /* Wrap the list in a green box. */
    width: 500px;
    /* border: 1px solid #c0392b;*/
    margin-left: 850px;

}

li {
    /* Add a bit more spacing between list items. */
    padding: 5px;
}

h1 {
    margin-top: 0px;
    margin-left: 900px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
